<form action="/">
  <select name="category" onchange="this.form.submit();">
    <option value="" selected disabled>類別</option>
    <option value="isAll" {{#if categoryObject.isAll}}selected{{/if}}>全部選取</option>
    <option value="isHome" {{#if categoryObject.isHome}}selected{{/if}}>家居物業</option>
    <option value="isTraffic" {{#if categoryObject.isTraffic}}selected{{/if}}>交通出行</option>
    <option value="isEntertainment" {{#if categoryObject.isEntertainment}}selected{{/if}}>休閒娛樂</option>
    <option value="isFood" {{#if categoryObject.isFood}}selected{{/if}}>餐飲食品</option>
    <option value="isOthers" {{#if categoryObject.isOthers}}selected{{/if}}>其它</option>
  </select>
</form>

<h3>Total Amount: {{totalAmount}}</h3>

<a href="./records/new">Create</a>

<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        {{this.categoryIconCode}}
        <h4 style="display: inline;vertical-align:middle;">{{this.name}}</h4>
        <h4 style="display: inline;vertical-align:middle;">{{this.date}}</h4>
        <h4 style="display: inline;vertical-align:middle;">{{this.category}}</h4>
        <h4 style="display: inline;vertical-align:middle;">{{this.amount}}</h4>
      </div>
      <div class="col-auto">
        <a class="btn btn-success" href="./records/{{this._id}}/edit">Edit</a>
        <form action="./records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>