<h3>Total Amount: {{totalAmount}}</h3>

<a href="./records/new">Create</a>

<ul>
  {{#each records}}
  <li>
    {{this.name}}
    {{this.date}}
    {{this.category}}
    {{this.amount}}

    <a href="./records/{{this._id}}/edit">Edit</a>
    <form action="./records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">Delete</button>
    </form>
  </li>
  {{/each}}
</ul>