<div class="container" style="max-width: 800px; min-width:500px">

  <div class="row d-flex justify-content-center align-items-center my-5">
    <div class="col-auto d-flex">
      <p class="mr-2">總金額:</p>
      <h2 class="mb-0" style="font-size: 3em; color:#A63F03;">${{totalAmount}}</h2>
    </div>
    <div class="col-4">
      <form action="/">
        <select class="form-control" name="category" onchange="this.form.submit();" style="min-width: 30%;">
          <option value="" selected disabled>類別</option>
          <option value="isAll" {{#if categoryObject.isAll}}selected{{/if}}>全部選取</option>
          <option value="isHome" {{#if categoryObject.isHome}}selected{{/if}}>家居物業</option>
          <option value="isTraffic" {{#if categoryObject.isTraffic}}selected{{/if}}>交通出行</option>
          <option value="isEntertainment" {{#if categoryObject.isEntertainment}}selected{{/if}}>休閒娛樂</option>
          <option value="isFood" {{#if categoryObject.isFood}}selected{{/if}}>餐飲食品</option>
          <option value="isOthers" {{#if categoryObject.isOthers}}selected{{/if}}>其它</option>
        </select>
      </form>
    </div>
  </div>

  {{#each records}}
  <div class="row">
    <div class="col col-md-8 d-flex main-record px-2 py-3">
      <div class="col-auto d-flex justify-content-center align-items-center p-0" style="min-width: 3em;">
        <h2 class="m-0">{{{this.categoryIconCode}}}</h2>
      </div>
      <div class="col d-flex flex-column">
        <h4 class="m-0">{{this.name}}</h4>
        <p class="m-0">{{this.date}}</p>
      </div>
      <div class="col d-flex align-items-center justify-content-end p-0">
        <h6 class="m-0">${{this.amount}}</h6>
      </div>
    </div>
    <div class="col-auto d-flex align-items-center">
      <a class="btn btn-outline-dark" href="./records/{{this._id}}/edit">Edit</a>
      <form action="./records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
        <button class="btn btn-outline-danger ml-2" type="submit">Delete</button>
      </form>
    </div>
  </div>
  {{/each}}

</div>