<div class="container" style="max-width: 800px; min-width:420px">

  <div class="row">
    <div class="col-12 col-md-8 p-0">

      <form action="/">
        <div class="container mt-5">
          <div class="row">
            <label class="col-auto" for="category">類別</label>
            <select class="form-control col" name="category" onchange="this.form.submit();" style="min-width: 30%;">
              <option value="isAll" {{#isSame category isAll}}selected{{/isSame}}>全部選取</option>
              {{#each categories}}
              <option value="{{this}}" {{#isSame this ../category}}selected{{/isSame}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
          <div class="row mt-3">
            <label class="col-auto" for="monthIndex">月份</label>
            <select class="form-control col" name="monthIndex" onchange="this.form.submit();" style="min-width: 30%;">
              <option value="isAll" {{#isSame month isAll}}selected{{/isSame}}>全部選取</option>
              {{#each months}}
              <option value="{{this.index}}" {{#isSame this.index ../monthIndex}}selected{{/isSame}}>{{this.value}}
              </option>
              {{/each}}
            </select>
          </div>
        </div>
      </form>

      {{!-- <form action="/">
        <select class="form-control mt-5" name="category" onchange="this.form.submit();" style="min-width: 30%;">
          <option value="isAll" selected disabled>類別</option>
          <option value="isAll" {{#if categoryObject.isAll}}selected{{/if}}>全部選取</option>
          <option value="isHome" {{#if categoryObject.isHome}}selected{{/if}}>家居物業</option>
          <option value="isTraffic" {{#if categoryObject.isTraffic}}selected{{/if}}>交通出行</option>
          <option value="isEntertainment" {{#if categoryObject.isEntertainment}}selected{{/if}}>休閒娛樂</option>
          <option value="isFood" {{#if categoryObject.isFood}}selected{{/if}}>餐飲食品</option>
          <option value="isOthers" {{#if categoryObject.isOthers}}selected{{/if}}>其它</option>
        </select>
      </form> --}}

      <div class="d-flex justify-content-around align-items-center my-4">

        <div class="d-flex">
          <p class="mr-2">總金額:</p>
          <h2 class="mb-0" style="font-size: 4em; color:#A63F03;">${{totalAmount}}</h2>
        </div>

        <a href="/records/new" class="btn btn-lg btn-dark">新增</a>
      </div>

    </div>
  </div>

  {{#each records}}
  <div class="row">

    <div class="col col-md-8 d-flex main-record px-2 py-3">
      <div class="col-auto d-flex justify-content-center align-items-center p-0" style="min-width: 3em; color:#800020;">
        <h2 class="m-0">{{{this.categoryIconCode}}}</h2>
      </div>
      <div class="col d-flex flex-column">
        <h4 class="m-0">{{this.name}}</h4>
        <p class="m-0">{{convertToDateString this.date}}</p>
      </div>
      <div class="col-auto d-flex align-items-center justify-content-end p-0">
        <h6 class="m-0">{{this.amount}}</h6>
      </div>
    </div>

    <div class="col-auto d-flex align-items-center pr-0">
      <a class="btn btn-sm btn-outline-dark" href="./records/{{this._id}}/edit">編輯</a>
      <form action="./records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
        <button class="btn btn-sm btn-outline-danger ml-2" type="submit">刪除</button>
      </form>
    </div>

  </div>
  {{/each}}

</div>