{{> message}}
<dev class="container">
  <div class="row">
    <div class="card mx-auto col-12" style="max-width: 500px;">
      <div class="card-body">
        <h5 class="card-title">新增支出</h5>
        <hr>
        <form action="/records" method="POST">

          <div class="form-group form-row">
            <div class="col-3">
              <label for="name" class="col-form-label">名稱</label>
            </div>
            <div class="col-9">
              <input class="form-control" type="text" name="name" placeholder="name" value="{{record.name}}">
            </div>
          </div>

          <div class="form-group form-row">
            <div class="col-3">
              <label for="date" class="col-form-label">日期</label>
            </div>
            <div class="col-9">
              <input class="form-control" type="date" name="date" placeholder="date" value="{{record.date}}">
            </div>
          </div>

          <div class="form-group form-row">
            <div class="col-3">
              <label for="category" class="col-form-label">分類</label>
            </div>
            <div class="col-9">
              <select class="form-control" name="category">
                <option value="" selected disabled>選擇類別</option>
                {{#each categories}}
                <option value="{{this}}" {{#isSame this ../record.category}}selected{{/isSame}}>{{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="form-group form-row">
            <div class="col-3">
              <label for="amount" class="col-form-label">金額</label>
            </div>
            <div class="col-9">
              <input class="form-control" type="number" name="amount" placeholder="amount" step="1" min="0"
                value="{{record.amount}}">
            </div>
          </div>

          <div class="form-group form-row">
            <div class="col-3">
              <label for="merchant" class="col-form-label">店家</label>
            </div>
            <div class="col-9">
              <input class="form-control" type="text" name="merchant" placeholder="merchant"
                value="{{record.merchant}}">
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button class="btn btn-dark" type="submit">新增</button>
            <a class="btn btn-dark ml-2" href="/">返回</a>
          </div>

          <div class=""></div>
        </form>
      </div>
    </div>
  </div>
</dev>